.grid {
    display: grid;
    gap: .5rem;
}

.grid.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .grid.col-2, .grid.col-3 {
        grid-template-columns: 1fr;
    }
}
